DEBUG=True
ALLOWED_HOSTS=*,localhost
SECRET_KEY=<key>

# PostgreSQL database settings
DB_NAME=newsfeed_db
DB_USERNAME=shafik
DB_PASSWORD=shafik
DB_HOST=localhost
DB_PORT=5432

SENDER_EMAIL=<EMAIL>
NEWS_API_KEY=<API KEY>
SENDGRID_API_KEY=<sendgrid API KEY>